global _start


section .data
    memory: times 32768 db 0


section .text
_start:
    mov rsi, memory
    mov rdx, 1 ;; rdx wont change during the runtime
    mov rdi, 1 ;; rdi represents an io descriptor, typically 1 or 0
    jmp run
exit:
    mov rax, 60
    mov rdi, 0
    syscall
run:
{% for command in commands %}
    {%- for line in command.to_asm() %}
    {{line}}
    {% endfor %}
{%- endfor -%}
